<div class="container">
<form>
  <button type="button"  routerLink="/Connexion" class="btn btn-primary">Connexion </button>
  <div class="form-group">
    <label for="exampleInputNom">Nom</label>
    <input type="text" class="form-control" id="nom" aria-describedby="nom" placeholder="enter nom ">

  </div>
  <div class="form-group">
    <label>Prenom</label>
    <input type="text" class="form-control" id="prenom" aria-describedby="prenom" placeholder="enter prenom ">

  </div>
  <div class="form-group">
    <label>Age</label>
    <input type="text" class="form-control" id="age" aria-describedby="age" placeholder="Enter age">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
