<br>
<div class="row">
    <div class="col-2 "   style="  margin-left: 1%; border: solid 0.1em #EFEEED; background-color: white; border-radius: 40px/40px;">
        <app-sidebar ></app-sidebar>
    </div>
    
    <div class="col-7"  >
        <div class="row mb-3" style="  margin-left: 3.5%; border: solid 0.1em #EFEEED; background-color: white; border-radius: 40px/40px;">
            <div class="col-12">
                <app-sections></app-sections> <!-- HADI HIA POSTER not Sections-->
            </div>
        </div>
        <div class="row" style="  margin-left: 3.5%; border: solid 0.1em #EFEEED; background-color: white; border-radius: 40px/40px;">
            <div class="col-12">
                <app-postes></app-postes>
            </div>
        </div>
        
        
    </div>
    
    <div class="col-2"   style="border: solid 0.1em #EFEEED; margin-left: 2.6%; background-color: white; border-radius: 40px/40px;">
        <app-right-bar></app-right-bar>
    </div>

</div>

<div style="position: fixed; top: 60%; left: 95%;" >
    <app-bulle-chat></app-bulle-chat>

</div>


<div class="fixed-bottom ">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-4">
            <app-chat></app-chat>
        </div>
        <div class="col-2"></div>
    </div> 
</div>

