<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <app-home-profil class="col-lg-3 col-md-4 pd-left-none no-pd"></app-home-profil>
                    
                    <app-home-post class="col-lg-6 col-md-8 no-pd"></app-home-post>
                    <app-home-right-bar class="col-lg-3 pd-right-none no-pd"></app-home-right-bar>
                   
                   
                    <app-home-chat></app-home-chat>
                    
                     
                </div>
            </div>
        </div>
    </div>
</main>

            
    
    
           
  