<!-----
<div class="chatbox-list">
   
    <div class="chatbox">
        <div class="chat-mg">
            <a href="#" title=""><img src="https://i.ibb.co/TYWRDW0/person-512-3.jpg" alt=""></a>
            <span> </span> 
        </div>
        <div class="conversation-box">
            <div class="con-title mg-3">
                <div class="chat-user-info">
                    <img src="http://via.placeholder.com/34x33" alt="">
                    <h3>John Doe <span class="status-info"></span></h3>
                </div>
                <div class="st-icons">
                    <a href="#" title=""><i class="la la-cog"></i></a>
                    <a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
                    <a href="#" title="" class="close-chat"><i class="la la-close"></i></a>
                </div>
            </div>
           
            <div class="chat-hist mCustomScrollbar" data-mcs-theme="dark" >
                
               
        
                <div class="chat-msg st2"  *ngFor="let msg1 of messageService.msgReceived">
                    <p>{{msg1}}</p>
                   
                   
                    <span>5 minutes ago</span>
                </div>
                <div class="chat-msg"  *ngFor="let msg of messageService.msg "  >
                
                    <p>  {{msg}} </p>
                    <span>Sat, Aug 23, 1:10 PM</span>
                    </div>
               

            </div>  
            <div class="typing-msg">
                   
                    <input class="form-control" type="text" placeholder="message" [(ngModel)]="input">
                    <input class="form-control" type="text" placeholder="receiver" [(ngModel)]="Inputreceiver">

                            <button class="btn btn-success" (click)="sendMessage()">Send</button>
                           
                    

                  
                
                <ul class="ft-options">
                    <li><a href="#" title=""><i class="la la-smile-o"></i></a></li>
                    <li><a href="#" title=""><i class="la la-camera"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
                </ul>
                
                

            </div> 
        </div>
   
            </div>



            <div class="chatbox">
                <div class="chat-mg">
                    <a href="#" title=""><img src="https://i.ibb.co/TYWRDW0/person-512-3.jpg" alt=""></a>
                    <span> </span> 
                </div>
                <div class="conversation-box">
                    <div class="con-title mg-3">
                        <div class="chat-user-info">
                            <img src="http://via.placeholder.com/34x33" alt="">
                            <h3>John Doe <span class="status-info"></span></h3>
                        </div>
                        <div class="st-icons">
                            <a href="#" title=""><i class="la la-cog"></i></a>
                            <a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
                            <a href="#" title="" class="close-chat"><i class="la la-close"></i></a>
                        </div>
                    </div>
                   
                    <div class="chat-hist mCustomScrollbar" data-mcs-theme="dark" >
                      
                
                        <div class="chat-msg st2"  *ngFor="let msg1 of messageService.msgReceived">
                            <p>{{msg1}}</p>
                           
                           
                            <span>5 minutes ago</span>
                        </div>
                        <div class="chat-msg"  *ngFor="let msg of messageService.msg "  >
                        
                            <p>  {{msg}} </p>
                            <span>Sat, Aug 23, 1:10 PM</span>
                            </div>
                       
        
                    </div>     
                    <div class="typing-msg">
                           
                            <input class="form-control" type="text" placeholder="message" [(ngModel)]="input">
                            <input class="form-control" type="text" placeholder="receiver" [(ngModel)]="Inputreceiver">
        
                                    <button class="btn btn-success" (click)="sendMessage()">Send</button>
                                   
                            
        
                          
                        
                        <ul class="ft-options">
                            <li><a href="#" title=""><i class="la la-smile-o"></i></a></li>
                            <li><a href="#" title=""><i class="la la-camera"></i></a></li>
                            <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
                        </ul>
                        
                        
        
                    </div> 
                </div>
           
                    </div>
        </div>
        <div class="conversation-box">
            <div class="con-title mg-3">
                <div class="chat-user-info">
                    <img src="http://via.placeholder.com/34x33" alt="">
                    <h3>John Doe <span class="status-info"></span></h3>
                </div>
                <div class="st-icons">
                    <a href="#" title=""><i class="la la-cog"></i></a>
                    <a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
                    <a href="#" title="" class="close-chat"><i class="la la-close"></i></a>
                </div>
            </div>
           
            <div class="chat-hist mCustomScrollbar" data-mcs-theme="dark" >
                
               
        
                <div class="chat-msg st2"  *ngFor="let msg1 of messageService.msgReceived">
                    <p>{{msg1}}</p>
                   
                   
                    <span>5 minutes ago</span>
                </div>
                <div class="chat-msg"  *ngFor="let msg of messageService.msg "  >
                
                    <p>  {{msg}} </p>
                    <span>Sat, Aug 23, 1:10 PM</span>
                    </div>
               

            </div>     
            <div class="typing-msg">
                   
                    <input class="form-control" type="text" placeholder="message" [(ngModel)]="input">
                    <input class="form-control" type="text" placeholder="receiver" [(ngModel)]="Inputreceiver">

                            <button class="btn btn-success" (click)="sendMessage()">Send</button>
                           
                    

                  
                
                <ul class="ft-options">
                    <li><a href="#" title=""><i class="la la-smile-o"></i></a></li>
                    <li><a href="#" title=""><i class="la la-camera"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
                </ul>
                
                

            </div>
        </div>
    
 


 <div class="chatbox-list">
    <div class="conversation-box">
        <div class="con-title mg-3">
            <div class="chat-user-info">
                <img src="http://via.placeholder.com/34x33" alt="">
                <h3>John Doe <span class="status-info"></span></h3>
            </div>
            <div class="st-icons">
                <a href="#" title=""><i class="la la-cog"></i></a>
                <a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
                <a href="#" title="" class="close-chat"><i class="la la-close"></i></a>
            </div>
        </div>
       
        <div class="chat-hist mCustomScrollbar" data-mcs-theme="dark" >
            
           
    
            <div class="chat-msg st2"  *ngFor="let msg1 of messageService.msgReceived">
                <p>{{msg1}}</p>
               
               
                <span>5 minutes ago</span>
            </div>
            <div class="chat-msg"  *ngFor="let msg of messageService.msg "  >
            
                <p>  {{msg}} </p>
                <span>Sat, Aug 23, 1:10 PM</span>
                </div>
           

        </div>   
        <div class="typing-msg">
               
                <input class="form-control" type="text" placeholder="message" [(ngModel)]="input">
                <input class="form-control" type="text" placeholder="receiver" [(ngModel)]="Inputreceiver">

                        <button class="btn btn-success" (click)="sendMessage()">Send</button>
                       
                

              
            
            <ul class="ft-options">
                <li><a href="#" title=""><i class="la la-smile-o"></i></a></li>
                <li><a href="#" title=""><i class="la la-camera"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
            </ul>
            
            

        </div> 
    </div>
    </div>
    <div class="chatbox">
        <div class="chat-mg">
            <a href="#" title=""><img src="https://i.ibb.co/TYWRDW0/person-512-3.jpg" alt=""></a>
            <span> </span> 
        </div>
        <div class="conversation-box">
            <div class="con-title mg-3">
                <div class="chat-user-info">
                    <img src="http://via.placeholder.com/34x33" alt="">
                    <h3>John Doe <span class="status-info"></span></h3>
                </div>
                <div class="st-icons">
                    <a href="#" title=""><i class="la la-cog"></i></a>
                    <a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
                    <a href="#" title="" class="close-chat"><i class="la la-close"></i></a>
                </div>
            </div>
           
            <div class="chat-hist mCustomScrollbar" data-mcs-theme="dark" >
                
               
        
                <div class="chat-msg st2"  *ngFor="let msg1 of messageService.msgReceived">
                    <p>{{msg1}}</p>
                   
                   
                    <span>5 minutes ago</span>
                </div>
                <div class="chat-msg"  *ngFor="let msg of messageService.msg "  >
                
                    <p>  {{msg}} </p>
                    <span>Sat, Aug 23, 1:10 PM</span>
                    </div>
               

            </div>    
            <div class="typing-msg">
                   
                    <input class="form-control" type="text" placeholder="message" [(ngModel)]="input">
                    <input class="form-control" type="text" placeholder="receiver" [(ngModel)]="Inputreceiver">

                            <button class="btn btn-success" (click)="sendMessage()">Send</button>
                           
                    

                  
                
                <ul class="ft-options">
                    <li><a href="#" title=""><i class="la la-smile-o"></i></a></li>
                    <li><a href="#" title=""><i class="la la-camera"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
                </ul>
                
                

            </div> 
        </div>
    </div>
    <div class="chatbox">
        <div class="chat-mg">
            <a href="#" title=""><img src="https://i.ibb.co/TYWRDW0/person-512-3.jpg" alt=""></a>
            <span> </span> 
        </div>
        <div class="conversation-box">
            <div class="con-title mg-3">
                <div class="chat-user-info">
                    <img src="http://via.placeholder.com/34x33" alt="">
                    <h3>John Doe <span class="status-info"></span></h3>
                </div>
                <div class="st-icons">
                    <a href="#" title=""><i class="la la-cog"></i></a>
                    <a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
                    <a href="#" title="" class="close-chat"><i class="la la-close"></i></a>
                </div>
            </div>
           
            <div class="chat-hist mCustomScrollbar" data-mcs-theme="dark" >
                
            
        
                <div class="chat-msg st2"  *ngFor="let msg1 of messageService.msgReceived">
                    <p>{{msg1}}</p>
                   
                   
                    <span>5 minutes ago</span>
                </div>
                <div class="chat-msg"  *ngFor="let msg of messageService.msg "  >
                
                    <p>  {{msg}} </p>
                    <span>Sat, Aug 23, 1:10 PM</span>
                    </div>
               

            </div>    
            <div class="typing-msg">
                   
                    <input class="form-control" type="text" placeholder="message" [(ngModel)]="input">
                    <input class="form-control" type="text" placeholder="receiver" [(ngModel)]="Inputreceiver">

                            <button class="btn btn-success" (click)="sendMessage()">Send</button>
                           
                    

                  
                
                <ul class="ft-options">
                    <li><a href="#" title=""><i class="la la-smile-o"></i></a></li>
                    <li><a href="#" title=""><i class="la la-camera"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
                </ul>
                
                

            </div>
        </div>
    </div>
---->
<div class="chatbox-list" >
    
    <app-chat-box [receiver]=receiver></app-chat-box>
     
    
    <div class="chatbox">
        <div class="chat-mg bx">
            <a href="#" title=""><img src="assets/images/chat.png" alt=""></a>
            <span>2</span>
        </div>
        <div class="conversation-box">
            <div class="con-title">
                <h3>Messages  </h3>
              
               
                <a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
                
                <a href="#" title="" data-toggle="modal" data-target="#loginModal"> <i class="la la-plus-square"></i> </a>
                

                
            </div>
            <div class="chat-list">
                <div class="conv-list active"   *ngFor="let c of conversations" >
                        <div class="usrr-pic" *ngIf="c.users[0].username != emetteur "> 
                            <img src="http://via.placeholder.com/50x50" alt="">
                            <span class="active-status activee"></span>
                        </div>
                        <div class="usy-info" *ngIf="c.users[0].username != emetteur ">
                            <h3 >  {{c.users[0].username}} </h3>
                          
                           
    
                            <span>hey <img src="assets/images/smley.png" alt="" ></span>
                           
                        </div>
                        <div class="ct-time" *ngIf="c.users[0].username != emetteur ">
                            <span>1:55 PM</span>
                        </div>
                       <button *ngIf="c.users[0].username != emetteur " class="btn btn-success" (click)="openChat(c.users)">Send</button>
                    
                   
                </div>
               
            </div><!--chat-list end-->

        </div><!--conversation-box end-->
    </div>
</div><!--chatbox-list end-->

<div id="show">
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-title text-center">
            <h4>Nouveau Message </h4>
          </div>
          <div class="d-flex flex-column text-center">
            
              
                <input type="text" class="form-control" id="email1"placeholder="Nom d'utilisateur" [(ngModel)]="ChatRecev">
              
             
                <input type="text" class="form-control" id="password1" placeholder="Message" [(ngModel)]="contenu" >
              
                <button type="button" class="btn btn-info btn-block btn-round" (click)="saveChat()" >Envoyer</button>
        
            
        
            
          </div>
        </div>
      </div>
       
    </div>
    <button mat-raised-button (click)="oncreate()">
        add 
    </button>

  </div>
   
  </div>
  
