<div class="chatbox-list">
    <div class="chatbox" >
        <div class="chat-mg">
            <a href="#" title=""><img src="https://i.ibb.co/TYWRDW0/person-512-3.jpg" alt=""></a>
            <span>2</span>
        </div>
        <div class="conversation-box" >
            <div class="con-title mg-3">
                <div class="chat-user-info">
                    <img src="http://via.placeholder.com/34x33" alt="">
                    <h3><span class="status-info"></span></h3>
                </div>
                <div class="st-icons">
                    <a href="#" title=""><i class="la la-cog"></i></a>
                    <a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
                    <a href="#" title="" class="close-chat"><i class="la la-close"></i></a>
                </div>
            </div>
            <div class="chat-hist mCustomScrollbar" data-mcs-theme="dark">
                <div class="chat-msg" >
                    <p>hello</p>
                    <span>Sat, Aug 23, 1:10 PM</span>
                </div>
                <div class="date-nd">
                    <span>Sunday, August 24</span>
                </div>
                <div class="chat-msg st2"  >
                    <p>heyyy</p>
                    <span>5 minutes ago</span>
                </div>
             
            </div><!--chat-list end-->
            <div class="typing-msg">
                
                    <input class="form-control" type="text" placeholder="message" >
                <input class="form-control" type="text" placeholder="receiver" >

                        <button class="btn btn-success">Send</button>
                
                <ul class="ft-options">
                    <li><a href="#" title=""><i class="la la-smile-o"></i></a></li>
                    <li><a href="#" title=""><i class="la la-camera"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
                </ul>
            </div><!--typing-msg end-->
        </div><!--chat-history end-->
    </div>