<div class="wrapper fadeInDown">

  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->


    <!-- Login Form -->
    <form #f="ngForm"  (ngSubmit)="onLogin(f.value)">
      <input  ngModel="" type="text" id="login" class="fadeIn second" name="username" placeholder="login" >
      <input  ngModel=""  type="text" id="password" class="fadeIn third" name="password" placeholder="password"> <hr>
      <button type="submit" class="btn btn-success">Log in</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
    <div class="alert alert-danger" *ngIf="mode==1">
      <strong>Bad credentials! </strong> Invalid Username or password
    </div>
    <div class="alert alert-info" *ngIf="mode==2">
      <strong>Success ! </strong> You are logged in !
    </div>
    <button type="button"  routerLink="/inscription" class="btn btn-primary">Inscription </button>
  </div>
</div>
