<div class="card b-1 hover-shadow mb-20" >
  <div class="media card-body">
    <div class="media-left pr-12">
      <img class="avatar avatar-xl no-radius" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
    </div>
    <div class="media-body">
      <div class="mb-2" align="center">
        <span class="fs-20 pr-16" style="font-weight: bolder" ></span>  <span class="fs-20 pr-16" style="font-weight: bolder" ></span>
      </div>

    </div>
    <div class="media-right text-right d-none d-md-block">

      <span class="text-fade"><i class="fa fa-money pr-1"></i > </span>
    </div>
  </div>
</div>
